.footer {
	width: 100%;
	background-color: red;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	height: 100px;
}

.footer div {
	color: white;
	display: flex;
	align-items: flex-end;
}

.footer img {
	width: 40px;
}

@media only screen and (max-width: 385px) {
  .footer {
  	height: 150px;
  	flex-direction: column;
  	padding: 10px 15px;
  	align-items: flex-start;
  }
  
  .footer div {
  	margin: 5px 0;
  }
}