* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(248,227,165);
background: linear-gradient(0deg, rgba(248,227,165,1) 27%, rgba(255,255,255,1) 100%);
}

.App {
  font-size: 18px;
  font-weight: 400;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  margin: 10px;
}

hr {
  width: 100%;
  border: 2px solid red;
}

@media only screen and (max-width: 385px) {
  body {
  
  }
}
